<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fashion House Manager</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h1>Fashion House Manager</h1>

        <nav>
            <a href="/">Home</a> |
            <a href="/orders">Orders</a>
        </nav>

        <hr>
    </header>

    {% block content %}

    {% endblock %}

</body>

</html>
